<h1>Gadgets</h1>

<p>
  <%= link_to 'Add new', new_gadget_path %>
</p>

<% @gadgets.each do |gadget| %>
  <div class="alert">
    <p>
      Name: <%= gadget.name %>
    </p>

    <p>
      <%= gadget.description %>
    </p>
  </div>
<% end %>
